html { height: 100%; }

canvas { border: 1px solid; background: white; margin-top: 24px; display: block; }
#canvas { margin: auto; width: 800px; height: 600px; margin-top: 24px; border: black 1px solid; overflow: hidden; background: white; }

body {
  font: 13px verdana;
  text-align: left;
  color: #eeeeee; 
  padding: 0px; margin: 0px; 
  width: 800px;
  margin: 0px auto;
  background: #113355;
}

a:link {color: #77ccff; text-decoration: underline; }
a:active {color: #ff0000; text-decoration: underline; }
a:visited {color: #dd77ff; text-decoration: underline; }
a:hover {color: #ffffff; text-decoration: none; }
